/* Main CSS file */

body {
  font-family: Helvetica,sans-sarif;
  font-size: 16px;
  background-color: black;
}

header{
  background-image: url(../imgs/header.jpeg);
  height: 550px;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header h1 {
    font-size: 60px;

}

/* Container for the scroller */
.scroller {
  width:100%;
  display:inline-block;
  font-size:20px;
}

/* Selected section at full opacity */
.scroller .selected {
  opacity:1;
}

.sectionText {
  width: 50%;
  height: 50px;
  text-align: center;
  padding: 1em;
}

.chart   {
  display:inline-block;
  position:fixed;
  top:100px;
}

#story {
  color: white;
}

#fatalText {
  visibility: hidden;
}
#timebox {
  position: fixed;
  bottom: 0px;
  text-align: right
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

#pieDiv {
  text-align: right;
}