<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drunk Driving Fatality</title>
  <link rel="icon"  type="image/png" href="imgs/favicon.png" />

  <!-- Libraries -->
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>

  <!-- Custom CSS -->
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css"/>


  <!-- Script files -->
  <script src="js/Dots.js"></script>
  <script src="js/timer.js"></script>
  <script src="js/BubbleChart.js"></script>
  <script src="js/DonutChart.js"></script>
  <script src="js/donutmain.js"></script>
  <script src="js/typed.js"></script>
  <script src="js/main.js"></script>
  <script src="js/app.js"></script>

</head>

<body>
    <div ng-app="myApp" id="app">
      <div ng-controller="MainController">
        <header class="container" id="imgView">
          <h1 id="textView">Drunk Driving Never Ends Well</h1>
          <a href="#intro"><img id="downArrow" src="imgs/arrow_down.svg"/></a>
        </header>
        <div class="container" id="intro">
          <div id="pieDiv">
            <h2 id='pieChartComment'>Drinking and driving has major consequences</h2>
            <h2>that don't just effect the life of the drunk driver.</h2>
            <br>
            <h2>Take, for instance, these fatalities in 2014. . . </h2>
            <br>
          </div>
          <br>
          <h2>Or, the story of Michael Collins. . . </h2>
          <a href="#story"><img id="downArrow2" src="imgs/arrow_down.svg"/></a>

        </div> <!-- Close intro -->
        <br>

        <div class="container" id ="story" ng-model="story">
          <div id="typed"></div>
            <div  id="typed-strings">
              <p>On March 28, 2014, <br>
              22-year-old Michael Collins spent the evening out with friends at a spring formal near campus.^2000</p>
              <p> In the early hours of March 29th, <br>
              Michael and his friends were picked up by a designated driver and were on their way home,^2000</p>
              <p>when a drunk driver ran a red light and struck the vehicle Michael was riding in.^2000</p>
              <p>Michael sustained severe head trauma and was rushed into emergency brain surgery.^2000</p>
              <p>After four days of fighting for his life, Michael succumbed to his injuries on April 2nd.^2000</p>
            </div> 
            <a href="#visualDiv"><img id="downArrow2" src="imgs/arrow_down.svg"/></a>
        </div> <!-- Close container for stories -->

          <section id="scrollSec">
            <scroll class="scroller" ng-style="{'height':'100vh'}">
              <div id="visualDiv" ng-hide="step < 0" ng-repeat="section in sectionSet" ng-style="$last == true && {'height':'calc(120%)','background-color':section.color} || {'height':sectionHeight + 'px','background-color':section.color}">
                 <div>
                  <p ng-class="{msgBox: $last == true, sectionText: step >= 0}" ng-bind=section.text></p>
                 </div>
              </div>
            </scroll>
            <dots ng-hide="step < 1 || step >6" class="chart"></dots>
          </section>

           <div ng-hide="step < 1" class="container" id='timebox'>
            <h3><time id='time'></time></h3>
            <div id="fatalText">
              <p >While you are reading this,<br />
               <span id="fatal">0</span> injured in a drunk driving crash</p>
            </div>
          </div> <!-- Close timebox -->
        </div> <!-- Close main controller -->
    </div>  <!-- Close myApp -->

  </body>
</html>
